.elegant-text {
  font-family: 'Great Vibes', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

    text-decoration: none;
    font-size: 80px;
    color: black;

    display: flex;
    justify-content: left;
}